*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(36, 36, 36);
}


.navbar{
    background-color: #303030;
    display:flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.navbar h1{
    margin-right: 30%;
    color: white;
    font-size: 30px;
}

.navbar a{
    margin: 0 4%;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.main{
    display: flex;
}

.main img{
    width: 100%;
}

.main p{
    width: 30%;
    position: absolute;
    top: 60%;
    left: 60%;
    color: white;
    font-size: 20px;
}

.main h1{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 60%;
    color: white;
    font-size: 30px;
}

.formsHolder {
    margin: auto;
    width: 400px;
    color: white;
    display: block;
    margin-top: 55px;
}

.contactDescription {
    margin-top: 15px;
    margin-bottom: 25px;
}

input text {
    margin-bottom: 10px;
    width: 100%;
}